# Ignore scons files
.sconsign.dblite

# Ignore shared library files
*.so
*.os

# Ignore object files
*.o

# Ignore simutron binary
/simutron

# Ignore documentation
/docs/

# Ignore Code Block files
/*.layout
/bin/
/obj/
/*.depend
